BB_AUTHOR="author"
BB_BRANCH_LIST_SET=(
  "develop"
  "master"
  "release"
  "feature"
  "bugfix"
  "hotfix"
)
BB_TOKEN_FILE="$HOME/.bb_token" # https://id.atlassian.com/manage-profile/security/api-tokens
BB_EMAIL="username@email.com"
BB_WORKSPACE="workspace"
