export AWS_DEFAULT_SSH_KEY=~/private_ssh_key.pem
export AWS_DEFAULT_SSH_KEY_NAME=aws_key_name
export AWS_DEFAULT_SSH_KEY_PATH=~/private_ssh_key.pem

export SECURITY_GROUP_IDS=sg-0123456789abcdef0
export SUBNET_ID=subnet-0123456789abcdef0

export AWS_DEFAULT_INSTANCE_TYPE=t2.micro
export AWS_DEFAULT_INSTANCE_NAME=test-instance
