KUBE_POD_OVERRIDES='
{
  "spec": {
    "tolerations": [
      {
        "key": "dedicated",
        "operator": "Equal",
        "value": "development",
        "effect": "NoSchedule"
      }
    ]
  }
}'
